# Zip Function

In [5]:
students_names = [ "Micheal Ford", "John Buch" , "Isra Raul", "Messi Ronaldo"]

students_grades = [ 80 , 53 , 90 , 100]

names_grades = {}

for i1,i2 in zip(students_names,students_grades):
    names_grades[i1] = i2
print(names_grades)

{'Micheal Ford': 80, 'John Buch': 53, 'Isra Raul': 90, 'Messi Ronaldo': 100}

In [6]:
zipped_list = zip(students_names,students_grades) #iterator
print(zipped_list) 
zipped_list = list(zipped_list) #iterable
print(zipped_list)

<zip object at 0x0000018D6059A740>
[('Micheal Ford', 80), ('John Buch', 53), ('Isra Raul', 90), ('Messi Ronaldo', 100)]

In [7]:
print(1,2)

1 2

# Enumerate Function

In [9]:
names = [ "Rachael Green", "Goodfellow Ian", "Tedd Crock", "Mina Joseph"]
salaries = [10260 , 41571 , 71211 , 52141 , 35781]
people_salaries = []
 
for i , j in enumerate(names):
    x = j + " $" + str(salaries[i])
    people_salaries.append(x)

print(people_salaries)

['Rachael Green $10260', 'Goodfellow Ian $41571', 'Tedd Crock $71211', 'Mina Joseph $52141']

In [10]:
enumerator = enumerate(names)
print(enumerator)
indexed_names = list(enumerator)
print(indexed_names)

<enumerate object at 0x0000018D6085A7C0>
[(0, 'Rachael Green'), (1, 'Goodfellow Ian'), (2, 'Tedd Crock'), (3, 'Mina Joseph')]

## List Comprehension vs. Normal List

In [11]:
new_list = []
for i in range(20):
    new_list.append(i)
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
new_list_comp = [i for i in range(20)]
print(new_list_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
list_comp =  [ (index , value ) for index ,value in enumerate( range( 5, 10 ) ) ]
print(list_comp)

[(0, 5), (1, 6), (2, 7), (3, 8), (4, 9)]

In [14]:
students_dict = { 
                    "Joel Corry" : 70,
                    "James Bond" : 90,
                    "Fatma Ahmed": 20,
                    "Lily Saqr"  : 94,
                    "Ahmed Yan"  : 40,
                }
passed_students_names = [name.split()[0] for name, x in students_dict.items() if x > 50]
print(passed_students_names)

['Joel', 'James', 'Lily']